@mixin bgwrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.3);
}

@mixin bgoverlay {
    height: 100%;
    background: linear-gradient(to right, rgba(79, 86, 130, 0.4) 0%, rgba(119, 122, 139, 0.4) 67%, rgba(213, 203, 166, 0.4) 87%, rgba(252, 238, 176, 0.4) 100%);
    padding: 58px 0 75px 0;
}