.btn {
    width: 160px;
    height: 45px;
    background-color: $orange-color;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    vertical-align: middle;
}
