.item {
    &__descr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #ec644b;
        &_fz18 {
            font-size: 18px;
        }
    }
}
